<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e">
    <material name="grey">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </material>

    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>


   <!--<xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" /> -->

    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="kinematics_config" default=""/>
    <xacro:property name="M_PI" value="3.1415926535897931"/>

    <link name="map" />

    <xacro:ur_robot
     name="ur"
     tf_prefix=""
     parent="map"
     joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
     kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
     physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
     visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
     safety_limits="false"
     safety_pos_margin="0.15"
     safety_k_position="20"
     force_abs_paths="false"
     >
     <origin xyz="0 0 0" rpy="0 0 0" />
   </xacro:ur_robot>

    <xacro:robotiq_gripper name="gripper" prefix="" parent="wrist_3_link">
       <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </xacro:robotiq_gripper>

    <joint name="gripper_tool_frame_joint" type="fixed">
        <parent link="robotiq_85_base_link" />
        <child link = "gripper_tool_frame" />
        <origin xyz="0.0 0.0 0.144" rpy="0.0 0.0 0" />
    </joint>

    <link name="gripper_tool_frame" />


</robot>